.stack-work
README.md
test
.gitignore
.git
.dockerignore
Dockerfile
a.out
attic/
bin/
examples-generated/
img/
reference/
resource/
specification/
stack.yaml.template
developper-note.md
CMakeFiles/
try/
